body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #111;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
}

html,
body {
  overflow: hidden;
}

#ui {
}

.pixi {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  /* pointer-events: none; */
}
.planet {
  position: absolute;
  background-image: url('/img/ui/nameplate-frame.gif');
  background-size: cover;
  image-rendering: pixelated;
  width: 200px;
  margin-left: 10px;
  margin-top: -20px;
  height: 200px;
  z-index: 5;
}

.planet-name {
  margin: 12px 37px;
  font-size: 15px;
}

.portals {
  margin-left: 90px;
  margin-top: -5px;
  margin-right: 10px;
}
.portal {
  background-image: url('/img/ui/nameplate-portal.gif');
  background-size: 100% 100%;
  margin-top: -2px;
  display: flex;
  padding: 5px;
  font-size: 10px;
}
.portal:hover {
  filter: contrast(200%);
  cursor: pointer;
}

.resource {
  position: absolute;
  color: white;
  z-index: 1;
  transition: all 5s linear;
}
